<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="register.component.css">

<div class="container">

    <h1 style="text-align: center;">Create A New Account</h1>
    <p class="lead" style="text-align: center;">Please fill out the required fields below to create a new account.</p>

    <div style="margin-bottom: 40px;"></div>

    <div class="register-container">
        <form [formGroup]="registerForm" class="form-register" (ngSubmit)="onSubmit()">
<!--            <img class="mb-4" src="../Include/logo-test.png" alt="" width="72" height="72">-->

            
<!--                <label style="margin-bottom: 0; font-size: 15px;">First Name:</label>-->
                <input type="text" formControlName="firstName" class="form-control" placeholder="First Name" required
                    autofocus>
           

            <div style="margin-bottom: 15px;"></div>

            <span>

                <input type="text" formControlName="lastName" class="form-control" placeholder="Last Name" required>
            </span>
            <div style="margin-bottom: 15px;"></div>

            <span>

                <input type="text" formControlName="email" class="form-control" placeholder="Email" required>
            </span>
            <div style="margin-bottom: 15px;"></div>
            <a href="../login/login.component.html">
            <button class="btn btn-lg btn-primary btn-block" type="button" >Submit</button>
            </a>
        </form>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
