<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="view.component.css">

<div id="wrapper">
  <!-- Sidebar -->
  <ul style="background-color: rgba(0,106,162,0.96)" class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="../home/home.component.html" style="margin-bottom: 20px">
      <div>
        <img style="width: 40px" src="../Include/logo-test.png">
      </div>
      <div class="sidebar-brand-text mx-3">Accounting Solutions</div>
    </a>



    <!-- Nav Item - Home -->
    <li class="nav-item">
      <a class="nav-link" href="../home/home.component.html">

        <span>Home</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0" />

    <!-- Nav Item - Accounts -->
    <li class="nav-item active">
      <a class="nav-link" href="../accounts/accounts.component.html">

        <span>Accounts</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0" />

    <!-- Nav Item - Users -->
    <li class="nav-item">
      <a class="nav-link" href="../users/users.component.html">

        <span>Users</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">


  </ul>
  <!--****************************** End of Sidebar **************************************-->

  <!-- Content Wrapper-->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!--****************************** Topbar ********************************************-->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
          <div class="topbar-divider d-none d-sm-block"></div>

          <!-- Nav Item - User Information -->
          <li class="nav-item">
            <div class="nav-link" href="/home">
              <span class="mr-2 d-lg-inline text-gray-600 medium">Fred Rogers</span>
              <img class=" rounded-circle" width="50" height="50"
                src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTY4MzI5NjA5OTc5NDM5MDYy/fred-rogers-1928---2003-of-the-television-series-mister-rogers-neighborhood-circa-1980s-photo-by-fotos-internationalcourtesy-of-getty-images.jpg" />
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link" href="/">
              <a href="../login/login.component.html">
                <button class="btn btn-md btn-outline-dark btn-block" type="button">Logout</button>
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <!--****************************** End of Topbar ************************************************************-->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <a href="../accounts/accounts.component.html">
          <button style="margin-bottom: 15px;" class="btn btn-sm btn-info">
            Go Back To Accounts
          </button>
          </a>
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Account: Rolling Hill</h1>
        <h4 class="mb-4">Ledger</h4>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-body">
            <div class="table-responsive">
              <div style="margin-bottom: 15px;">
                
                <div class="form-group form-inline" style="float: right; margin-right: 5%;">
                  Search: <input class="form-control ml-2" type="text" [formControl]="filter"/>
                </div>
              </div>
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Debit</th>
                    <th>Credit</th>
                    <th>Balance</th>
                    <th>View Journal</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>8/3/2015</td>
                    <td></td>
                    <td></td>
                    <td>$500,000</td>
                    <td>$500,000</td>
                    <td>
                      <button class="btn btn-sm btn-primary" (click)="navEditAccount()">
                        view journal entry
                      </button>
                    </td>          
                  </tr>

                  <tr>
                    <td>9/15/2015</td>
                    <td></td>
                    <td></td>
                    <td>$200,000</td>
                    <td>$700,000</td>
                    <td>
                      <button class="btn btn-sm btn-primary" (click)="navEditAccount()">
                        view journal entry
                      </button>
                    </td>          
                  </tr>

                  <tr>
                    <td>2/9/2016</td>
                    <td></td>
                    <td>$387,400</td>
                    <td></td>
                    <td>$312,600</td>
                    <td>
                      <button class="btn btn-sm btn-primary" (click)="navEditAccount()">
                        view journal entry
                      </button>
                    </td>          
                  </tr>

                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
  </div>
  <!-- End of Content Wrapper -->

  <!--End of Page wrapper-->
</div>

<!-- Bootstrap core JavaScript-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
